.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.clients__item {
  width: 210px;
  flex-basis: calc((100% - 1 * 30px) / 2);

  @media screen and (min-width: 768px) {
    width: 226px;
    flex-basis: calc((100% - 2 * 30px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 5 * 30px) / 6);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;

  transition: fill var(--trns-org), border var(--trns-org);

  &:hover,
  &:focus {
    fill: var(--accent);
    border: 1px solid var(--accent);
  }
}
