.footer {
    margin: 0 auto;
    color: var(--footer-text-color);
    background-color: #2f303a;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 70px;
    padding: 60px 15px;
}

.logo__footer {
    color: var(--white-text-color);
}

.footer-nav__items:not(:last-child) {
    margin-bottom: 9px;
}

.footer-nav__link {
    color: var(--footer-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    display: block;

    transition: color var(--trns-org);

    &:hover,
    &:focus {
        color: var(--accent);
    }
}

.footer-social__list {
    display: flex;
    gap: 10px;
}