.hero {
    background-color: #c4c4c4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(180deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
        url(../images/logo/Img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 0;
    max-width: 1600px;
    margin: 0 auto;
}

.hero__title {
    width: 696px;
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero__button {
    color: var(--white-text-color);
    background-color: var(--accent);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    font-family: inherit;
    display: block;
    cursor: pointer;
    margin: 0 auto;

    min-width: 216px;
    min-height: 50px;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;

    transition: background-color var(--trns-org);

    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}