.work {
    background-color: #f5f4fa;
}

.work__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

.work__items {
    flex-basis: calc((100% - 3 * 30px) / 4);
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.work__group {
    display: block;
    padding-top: 30px;
    padding-bottom: 16px;
}

.work__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 10px;
}

.work__text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
}