.address {
    font-style: normal;
}

.address__text {
    color: var(--white-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
    display: block;
}